.main{
    display: flex;
    width: 1200px;
    height: 500px;
    background: linear-gradient(100deg, rgb(115, 0, 255) 50%, rgb(50, 0, 90) 50%);
    border-radius: 10PX;
    /* background: linear-gradient(105deg, rgba(255,225,2,1) 0%, rgba(255,225,2,1) 59%, rgba(233,206,6,1) 59%, rgba(243,218,31,1) 60%, rgba(243,218,31,1) 100%); */
    
}

.main__give, .main__take{
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    align-content: flex-start;
}

.txt{
    font-size: 1.9vh;
    color: white;
    width: 450px;
    margin-left: 50px;
    height: 40px;
}

.rub{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    border: none;
    font-size: 1.5vh;
    font-weight: bolder;
    /* width: 30%; */
    background: rgb(255, 255, 255);
    color: rgb(115, 0, 255);
    border-radius: 6px;
}

.submit:hover{
    box-shadow: rgb(255, 255, 255) 3px 3px;
    border-top: white solid 1px;
    border-left: white solid 1px;
    background: rgb(115, 0, 255);
    color: white;
}

.give{
    height: 350px;  
}

.take{
    height: 400px;
}

.give, .take{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
    width: 450px;
    justify-content: flex-end;
}

/* (ОТДАТЬ) Блок фильтра валюты */

.give__valute, .give__email, .take__valute, .take__number, .take__fullName, .take__qiwi{
    width: 100%;
    background: white;
    border-radius: 6px;
}

.give__warning, .take__warning{
    width: 100%;
    
}

.give__valute, .take__valute{
    position: relative;
    
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 10px;
}

.give__valute-button, .typeOfValute-button, .take__valute-button{ 
    width: 20%;
    cursor: pointer;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    background: white;
}
.give__valute-button:hover, .typeOfValute-button:hover, .take__valute-button:hover{
    background: rgb(50, 0, 90);
    color: white;
    border-radius: 6px;
}




.give__valute-list, .typeOfValute-list-bitcoin, 
.typeOfValute-list-tether, 
.typeOfValute-list-ethereum, .typeOfValute-list-litecoin, .take__valute-list{
    display: none;

    position: absolute;
    top: 110px;

    margin: 0;
    padding: 0;
    list-style-type: none;

    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(176,198,225,0.6);
    overflow: hidden;

    border-radius: 6px;

    z-index: 1;
}

.give__valute-list, .take__valute-list{
    width: 100%; 
    left: 0;
}

.typeOfValute-list-bitcoin, .typeOfValute-list-tether, 
.typeOfValute-list-ethereum, .typeOfValute-list-litecoin{
    right: 0;
}




.give__valute-list--visible, .typeOfValute-list--visible, .take__valute-list--visible{
    display: block;
}

.give__valute-list-item, .typeOfValute-list-item, .take__valute-list-item{
    margin: 0;
    padding: 0;
    border: 1px solid rgb(115, 0, 255);
    border-bottom: 0px;
    padding: 13px 20px;
    cursor: pointer;
}
.give__valute-list-item:first-child, .typeOfValute-list-item:first-child , .take__valute-list-item:first-child{
    border-radius: 6px 6px 0 0;
}

.give__valute-list-item:last-child, .typeOfValute-list-item:last-child,.take__valute-list-item:last-child{
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid rgb(115, 0, 255);
}
.give__valute-list-item:hover, .typeOfValute-list-item:hover, .take__valute-list-item:hover{
    background: rgb(50, 0, 90);
    color: white;
}




.give__valute-inp, .take__valute-inp{
    width: 45%;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    outline: none;
    padding: 3%;
}

.typeOfValute{
    width: 20%;
    cursor: pointer;
}
.typeOfValute__input-hidden{
    display: none;
}

.give__email, .take__number, .take__fullName{
    height: 64px;
    display: flex;
    align-items: center;
}

.take__qiwi{
    height: 64px;
    display: none;
    align-items: center;
}

.take__qiwi--visible{
    display: flex;
}

.give__warning-text, .take__warning-text{
    background: white;
    margin: 0;
    padding: 5px;
    border-radius: 6px;
    display: flex;
}

.give__valute__input-hidden, .take__valute__input-hidden{
    display: none;
}




/* Блок ввода электронной почты */


.give__email-input, .take__number-input, .take__fullName-input, .take__qiwi-input{
    outline: none;
    border: none;
    font-size: 20px;
    height: 80%;
    width: 80%;
}

.take__number--nonVisible{
    display: none;
}


/* Блок реверса */

.middle{
    background: linear-gradient(100deg, rgb(115, 0, 255) 45%, rgb(50, 0, 90) 55%);
    width: 100px;
}





/* Pasha*/
.info {
    flex: 1 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 125px;
}

.block1 , .block2 {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.block2 {
    background-color: black;
    color: white;
}